/* Responsive styling for navbar*/
@media (max-width: 719px){
  .custom-nav-text{
    display: none;
  }
  .nav-item{
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 720px){
  .custom-nav-text{
    display: inline;
    font-size: 1.2em;
  }
}

/* Elements */
body {
  background-image: url("../images/background1.jpg");
  background-color: #C4F9FF;
}
h1, h2, h3 {
  border-bottom: 2px solid #487C7F;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/* Classes */

.custom-container {
  background-color: #FFFDFF;
  border-left: solid 2vw rgba(72, 124, 127, 0.9);
  border-right: solid 2vw rgba(72, 124, 127, 0.9);
  min-height: 95vh;
}
.pic {
  border: 0.3em solid rgba(72, 124, 127, 0.9);
  border-radius: 1em;
  height: 16em;
  width: 16em;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0.1em 0.1em #274345;


}
.pic-container{
  text-align: center;
}
.large-img {
  max-width: 20em;
}
.small-line {
  border-bottom: 1px solid #487C7F;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/*Nav Styling*/
.nav-item{
  font-weight: normal;
  vertical-align: middle;
}
.nav-link{
  color: #FFFDFF !important;
  z-index: 1;

}
.custom-nav{
  background-color: rgba(72, 124, 127, 0.9);
  position: fixed;
  width: 100vw;
  z-index: 1;
}

/*Footer Styling */
.custom-footer{
  border-top: 2px solid #487C7F;
  justify-content: center;
  margin-top: 3em;
}
.my-credit{
  padding: 0.5em;
}
.heart-icon{
  padding: 0em 0.2em 0em 0.2em;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}
