
* { font-family: 'Roboto', sans-serif; }
div { padding: 0;  margin: 0; }

#title {
  font-size: 150%;
  padding: .5em;
  float:left;
  max-width: 60%;
}

#nav ul {
  padding: 0;
  margin: 0;
  float: right;
}

#nav li {
  list-style: none;
  float: left;
  margin: 1em;
}

.col {
  padding: .7em;
  width: 45%;
  float: left;
}

#main {
  padding: 1em;
}

.clearfix {
  clear: both;
}

#people {
  float: right;
  font-size: 110%;
}

#people li {
}

#bio {
  overflow: scroll;
}

img {
  display: block;
  margin: 0 auto;
}
