/* Styling for table on "Contact Us" page. Can not use table rows and columns
because they behave poorly on small screen sizes.*/

/* Zebra stripes for table */
.grid-container>div:nth-of-type(6n+0){
  background-color: lightgrey;
}
.grid-container>div:nth-of-type(6n-1){
  background-color: lightgrey;
}
.grid-container>div:nth-of-type(6n-2){
  background-color: lightgrey;
}

@media (max-width: 500px){
  /*Defines behavior for mobile view.*/
  .grid-container{
    max-width: 95vw;
    margin: auto;
  },
  .grid-container>div{
    display: block;
    padding: 1em 1em 1em 1em;
  }
  .grid-container{
    margin-bottom: 10px;
  }
}

@media (min-width:501px){
  .grid-container>div{
    display:inline;
    text-align: left;
    padding: 1em 1em 1em 1em;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
