/* Styling for table on "Contact Us" page. Can not use table rows and columns
because they behave poorly on small screen sizes.*/


@media (max-width: 500px){
  /*Defines behavior for mobile view.*/
  .grid-container{
    max-width: 95vw;
    margin: auto;
  },
  .Name, .Position, .Email{
    display: block;
  }
}


@media (max-width:500px){
  .Name, .Position, .Email{
    display: block;
    padding: 5px 5px 5px 5px;
  }
  .grid-container{
    margin-bottom: 10px;
  }
}

@media (min-width:501px){
  .Name, .Position, .Email{
    display:inline;
    text-align: left;
  }
  .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
  }

}

/*@media (min-width: 501px){*/
  /*Defines behavior on larger screens.*/
  /*.grid-container{
    width: 95vw;
  },

}*/
